.recipes-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
}

.recipe-card {
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
}

.recipe-time-tag {
    position: absolute;
    top: 20px;
    left: -15px;
    background-color: #0661CC;
    color: white;
    padding: 8px 15px 8px 30px;
    border-radius: 999px;
    font-size: 0.9rem;
    font-weight: 700;
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.heart-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: #0661CC;
    cursor: pointer;
    z-index: 10;
}

.recipe-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.recipe-image,
.recipe-image-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.recipe-image-placeholder {
    background-color: rgba(255, 255, 255, 0.2);
    filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-info {
    position: relative;
    z-index: 15;    
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    width: 120%;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -25px;
    padding: 20px 40px 40px 40px;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recipe-name {
    font-size: 1.2rem;
    font-weight: 700;
    color: #0661CC;
    margin-bottom: 5px;
    text-align: left;
}

.recipe-macros {
    font-size: 0.9rem;
    font-weight: 400;
    color: #0661CC;
    opacity: 0.8;
    text-align: left;
}

/* Карточка "Додати свій рецепт" */
.recipe-card.add-recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgba(255, 255, 255, 0.5);
    background: none;
    text-decoration: none;
}

.add-icon {
    font-size: 20rem;
    font-weight: 400;
    color: #A0C4FF;
}

.add-recipe-text {
    font-size: 1.2rem;
    font-weight: 700;
    color: #A0C4FF;
    text-align: center;
}