.purchases.card {
  grid-column: 2;
  grid-row: 5 / span 4;
  width: 413px;
  height: 374px;
  margin-left: 185px;
  color: #FFF;
  overflow: hidden;
}

.purchases h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900; 
  margin-bottom: 15px;
}