.cs-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    flex-shrink: 1;
    height: 485px;
}

.cs-card-narrow {
    width: 160px;
}

.cs-card-wide {
    width: 250px;
}

.cs-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.cs-card-open {
    width: 400px;
    transform: scaleX(1);
    transform-origin: left;
}

.cs-card-closed {
    transform: scaleX(1);
    transform-origin: left;
}

.cs-card .cs-card-open {
    display: none;
    height: 485px;
}

.cs-card.cs-card-open .cs-card-open {
    display: block;
}

.cs-card.cs-card-open .cs-card-closed {
    display: none;
}

/* Мобільна версія для Card */
@media (max-width: 431px) {
    .cs-card {
        height: 490px;
        flex-shrink: 0;
        transition: none;
    }

    .cs-card-narrow {
        width: 162px;
    }

    .cs-card-wide {
        width: 280px;
    }

    .cs-card-open {
        width: calc(100vw - 20px) !important;
        height: 490px;
        position: relative;
        z-index: 10;
    } 
}