.mental-health-articles {
    width: 105%;
}

.articles-list {
    width: 96.1%;
}

.mental-health-articles {
    height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mental-health-articles::-webkit-scrollbar {
    width: 12px;
}

.mental-health-articles::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 10px;
    
    margin: 15px 0;
}

.mental-health-articles::-webkit-scrollbar-thumb {
    background: var(--bl);
    border: 0.5px solid var(--white);
    border-radius: 10px;
}

.mental-health-articles::-webkit-scrollbar-thumb:hover {
    background: var(--title);
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.ap-title {
    background: var(--white);
    padding: 15px 0;
    border-radius: 40px;
    margin: -10px 0 20px 0;
}

.ap-title h2 {
    text-align: center;
    color: var(--bl);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 900;
}

.articles-list .article-card:first-child {
    margin-top: 5px;
}

.articles-list .article-card:last-child:hover {
    margin-bottom: 15px;
}

/* Мобільна версія для ArticlesPage */
@media (max-width: 431px) {
    .mental-health-article-container {
        /* padding-left: 10px; */
        box-sizing: border-box;
    }

    .mental-health-article-content {
        width: 105%;
    }

    .mental-health-articles {
        width: 100%;
        height: auto;
        max-height: 70vh;
        overflow-y: auto;
        margin: 0 auto;
    }

    .articles-list {
        width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
    }

    .ap-title {
        padding: 12px 0;
        border-radius: 30px;
        margin: 0 0 20px 7px;
        width: 97%;
    }

    .ap-title h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .mental-health-articles::-webkit-scrollbar {
        width: 8px;
    }

    .mental-health-articles::-webkit-scrollbar-track {
        margin: 10px 0;
        border-radius: 8px;
    }

    .articles-list .article-card:first-child {
        margin-top: 0;
    }

    .articles-list .article-card:last-child {
        margin-bottom: 10px;
    }
}