.hp-health-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}

.hp-health-animation-element-nomi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hp-health-animation-element-text {
    position: absolute;
    left: 78%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Мобільна адаптація для HealthPages */
@media (max-width: 431px) {

    .hp-health-animation-element-nomi {
        left: 50%;
        top: 75%;
    }

    .hp-health-animation-element-text {
        left: 50%;
        top: 40%;
    }
}