@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');

.products-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 70px;
    gap: 14px;
}

.products-categories div {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
}

.products-categories div:hover {
    scale: 1.03;
}

.products-categories div:last-child {
    background-color: var(--lim);
}

.products-categories .active-category {
    background-color: var(--lim);
    color: #0661CC;
}

.marketplace-container {
    margin: 0 50px;
}

.products-filters {
    z-index: 10;
}

.products-filters h3 {
    color: var(--lim);
    margin-top: 20px;
    font-size: 16px;
}

.products-filters > div {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 70px;
    margin-top: 20px;
    gap: 14px;
}

.products-filters > div > div:nth-child(1) {
    z-index: 20;
}

.products-filters > div > div:nth-child(2) {
    z-index: 10;
}

.filter-product-marketplace {
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 20;
}

.scale-filter:hover {
    scale: 1.03;
}

.price-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 300px;
    background: #6AA0E0;
    border-radius: 20px;
    z-index: 50;
}

.price-selector:hover {
    scale: none !important;
}

.marketplace {
    max-height: 60vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 44px;
    margin-top: 20px;
    padding: 5px 5px 30px 5px;
}

.product-card {
    background: rgba(255, 255, 255, 0.4);
    height: 300px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-card:hover {
    scale: 1.01;
}

.favorite-product {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 18px;
    cursor: pointer;
    z-index: 5;
}

.product-foto {
    height: 80%;
}

.product-info-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 4;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    flex-direction: column;
    color: #0661CC;
    padding: 20px 30px;
}

.product-info-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.75) 0%,
        rgba(255, 255, 255, 0.5) 30%,
        rgba(255, 255, 255, 0.6) 60%,
        rgba(255, 255, 255, 1) 90%
    );
    backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(55px);

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    z-index: -1;

    mask-image: linear-gradient(to top, rgba(0,0,0,1) 40%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 40%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 100%);
}

.product-info-footer > h3 {
    color: #0661CC;
}

.product-buy-container {
    margin: 0 50px;
    max-height: 86vh;
    height: auto;
    overflow: auto;
    padding-bottom: 50px;
    padding-right: 5%;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-image {
    max-height: 50vh;
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.product-info > h3 {
    font-family: var(--font-family);
    color: var(--lim);
    font-size: 30px;
    margin-bottom: 20px;
}

.product-info > h4 {
    font-family: var(--font-family);
    color: var(--lim);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.product-info > button {
    width: 100%;
    background-color: var(--lim);
    height: 60px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.product-info > div > h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.horizontal-scroll-products {
    display: flex;
    scroll-behavior: smooth;
    margin-top: 30px;
    overflow-x: auto;
    max-width: 100%;
}

.horizontal-scroll-products::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll-products::-webkit-scrollbar-thumb {
    display: none;
}

.similar-products {
    margin-top: 30px;
}

.similar-products > h3 {
    font-family: var(--font-family);
    font-weight: 300;
}

.product-desc > h3 {
    font-family: var(--font-family);
    font-weight: 300;
}

.horizontal-scroll-products .product-card {
    height: 260px;
    width: 240px;
    margin-right: 20px;
    flex: 0 0 auto;
}

.brand-selector {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 300px;
    background: #6AA0E0;
    border-radius: 20px;
    z-index: 50;
    border-radius: 0 0 30px 30px;
}

.brand-name {
    text-align: center;
    padding: 8px;
    width: 80%;
    margin: 6px auto;
    border-radius: 30px;
}

.brand-name:hover {
    background: #0661CC;
}

.clear-marketplace-filter {
    grid-column: 5/6;
    background-color: var(--lim);
    border-radius: 30px;
    color: #0661CC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.clear-marketplace-filter:hover {
    scale: 1.03;
}

.shopping-cart-container {
    position: relative;
    margin: 20px 30px;
    font-family: var(--font-family);
    padding: 10px;
}

.cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

.shopping-cart-title {
    font-weight: 500;
    font-size: 26px;
    grid-column: 1/3;
    margin-bottom: 30px;
}

.shopping-cart-total {
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 50vh;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.products-in-cart {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    height: 200px;
    margin-bottom: 20px;
}

.products-in-cart div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
}

.products-in-cart img {
    max-height: 100%;
    width: auto;
}

.cart-header {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    margin-bottom: 20px;
}

.cart-header h3 {
    font-weight: 300;
    text-align: center;
}

.shopping-cart-total > div:first-child {
    font-size: 22px;
    text-align: center;
}

.marketplace-total-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
}

.marketplace-total-container > div {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.left-info-market {
    text-align: start;
    margin-left: 10px;
}

.right-info-market {
    text-align: end;
    margin-right: 10px;
}

.marketplace-cart-list {
    position: relative;
    grid-row: 2/4;
    height: 60vh;
    overflow: auto;
    padding-right: 3%;
}

.marketplace-btn-pay {
    border-radius: 30px;
    height: 26px;
    background-color: var(--lim);
    font-weight: 500;
}

.btns-marketplace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.quantity-selector-marketplace {
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 50px;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.quantity-selector-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.option-selector-marketplace {
    font-size: 40px;
    color: var(--lim);
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
}

.marketplace-total-total {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.personal-info-payment-marketplace {
    display: grid;
    gap: 20px;
}

.delivery-address {
    width: 100% !important;
    max-width: 100% !important;
}

.personal-info-payment-marketplace > button {
    background-color: var(--lim);
    height: 40px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

.personal-info-payment-marketplace > button:disabled {
    color: black;
    background: rgba(255, 255, 255, 0.2);
}

.delivery-address .select-input {
    color: white;
}

.delivery-address .select-input::placeholder {
    color: white;
}

.post-index-marketplace {
    border: none;
    height: 45px;
    border-radius: 30px;
    padding-left: 30px;
    color: white;
    font-size: 17px;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.no-products-in-cart-message {
    height: 70vh;
    text-align: center;
    color: var(--lim);
    padding-top: 24vh;
    font-size: 24px;
}

.no-products-in-cart-message button {
    background-color: var(--lim);
    border-radius: 30px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    font-weight: 600;
    color: #0661CC;
}

@media (max-width: 431px) {
    .marketplace-container {
        height: 95vh;
        overflow: auto;
        width: 90%;
        margin: 20px auto;
        padding-bottom: 50px;
    }

    .products-categories {
        grid-template-columns: 1fr;
    }

    .products-filters > div {
        grid-template-columns: 1fr;
    }

    .clear-marketplace-filter {
        grid-column: 1/2;
        height: 50px;
    }

    .marketplace {
        grid-template-columns: 1fr;
    }

    .products-categories div:hover {
        scale: 1;
    }

    .scale-filter:hover {
        scale: 1;
    }

    .product-card:hover {
        scale: 1;
    }

    .clear-marketplace-filter:hover {
        scale: 1;
    }

    .product-container {
        grid-template-columns: 1fr;
    }

    .product-buy-container {
        margin: 0 10px;
    }

    .shopping-cart-container {
        height: 86vh;
        overflow: auto;
        margin: 20px 10px;
    }

    .cart-container {
        grid-template-columns: 1fr;
    }

    .products-in-cart img {
        margin-left: 6px;
        max-height: 90%;
    }

    .marketplace-cart-list {
        margin-bottom: 20px;
    }

    .marketplace-total-total {
        bottom: 30px;
    }

    .personal-info-payment-marketplace {
        margin-bottom: 30px;
    }

    .cart-header > h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .marketplace-cart-list {
        padding-right: 0 !important;
    }
}