@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #0066C3;
    background-image: url("../img/FigureBack2.png");
    background-size: cover;
    z-index: -1;
}

.menu-panel {
    position: relative;
    grid-column: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    margin-top: 30px;
    text-align: center;
}

.logo img {
    width: 140px;
}

.menu-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    margin-botton: 20px;
    cursor: pointer;
}

.menu-option:hover {
    text-decoration: underline;
}

.menu-options {
    margin-top: 100px;
    padding-left: 20%;
}

.menu-option img {
    width: 28px;
}

.menu-opt-text {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

.menu-children {
    grid-column: 2/6;
    margin-top: 10px;
}

.exit {
    position: absolute;
    bottom: 40px;
    left: 25%;
}

.header {
    height: 80px;
    width: 100%;
}

.search_place, .search_place:focus {
    outline: none;
    margin: 40px;
    width: 94%;
    height: 46px;
    border-radius: 23px;
    border: none;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    line-height: 46px;
    padding-left: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #0066C3;
}

.search_place::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0066C3;
}

.search-icon {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 20px;
    z-index: 2;
}

.search_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    padding: 0 10px;
    margin-right: 50px;
}

.options img {
    width: 24px;
    cursor: pointer;
}

.options img:last-child {
    width: 44px;
}