@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');

.user-profile-wrapper {
  margin-right: 0;
  padding: 0 20px;
  height: calc(100vh - 200px); /* залишаємо місце для кнопки виходу */
}

.user-profile {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, auto);
  gap: 20px;
  margin-bottom: 13px;
}

/* ==== Лівий стовпець ==== */
.profile-info {
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 13px;
}

/* Аватар всередині */
.avatar {
  grid-column: 1;
  grid-row: 1 / span 3;
  background: #D6FF00;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.profile-icon {
  width: 54px;
  height: 54px;
  object-fit: contain;
}

/* Стилі для завантаження аватару */
.avatar-upload-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-preview,
.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Поле про себе */
.about input {
  grid-column: 1;
  grid-row: 4;
  width: 340px;
  height: 46px;
  border-radius: 40px;
  color: #FFF;
  padding: 0 30px;
  font-size: 17px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border: 0px solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  outline: none;
}

.about input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500; 
  color: #116FCF;
}

/* ==== Центральний стовпець ==== */
.profile-fields {
  grid-column: 2 / span 2;
  grid-row: 1 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  padding: 0 20px;
  margin-top: 7px;
}

/* всередині profile-fields */
.profile-fields .first-name {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.profile-fields .last-name {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.profile-fields .gender {
  grid-column: 1;
  grid-row: 3;
}
.profile-fields .height {
  grid-column: 1;
  grid-row: 4;
}
.profile-fields .custom-datepicker-container {
  grid-column: 2;
  grid-row: 3;
}
.profile-fields .weight {
  grid-column: 2;
  grid-row: 4;
}

.profile-fields-input {
  border-radius: 40px;
  padding: 0 30px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 600;
  height: 46px; 
  margin-bottom: 12px;
  border: 0px solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  outline: none;
}

/* Контейнер для поля з суфіксом */
.input-with-suffix {
  position: relative;
  width: 100%;
}

.input-suffix {
  position: absolute;
  right: 60px;
  top: 35%;
  transform: translateY(-50%);
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 600;
  pointer-events: none;
}

/* Корегуємо відступи для полів з суфіксами */
.input-with-suffix .profile-fields-input {
  padding-right: 50px !important;
  width: 100%;
}

.profile-fields input::placeholder {
  color: #116FCF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
} 

.profile-fields .long {
  grid-column: span 2;
  width: 700px;
}

.profile-fields .short {
  width: 340px;
}

/* додаткові стилі для поля дати */
.custom-datepicker-container {
  position: relative;
  width: 100%;
}

.custom-datepicker-display {
  width: 340px;
  height: 46px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 40px;
  padding: 0 40px;
  color: #FFF;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  outline: none;
  border: 0px solid transparent;
  backdrop-filter: blur(10px);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-with-dots {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot-separator {
  color: #D6FF00;
  font-weight: bold;
  margin: 3px 30px 0 30px;
}

.date-part {
  min-width: 2ch;
  text-align: center;
}

.data-picker-placeholder {
  color: #116FCF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
}

/* ==== Правий стовпець ==== */
.extra-fields {
  grid-column: 3;
  grid-row: 5 / span 4;
  display: grid;
  grid-template-rows: repeat(4, auto);
  max-width: 340px;
  max-height: 315px;
  margin-top: -20px;
  margin-left: -10px;
}

.extra-fields .country {
  grid-row: 1;
}
.extra-fields .city {
  grid-row: 2;
}
.extra-fields .street {
  grid-row: 3;
}
.extra-fields .phone {
  grid-row: 4;
}

.extra-fields-input {
  border: none;
  border-radius: 40px;
  padding-left: 30px;
  height: 46px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 600;
  max-width: 340px;
  border: 0px solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  outline: none;
  caret-color: #116FCF;
}

.extra-fields input::placeholder {
  color: #116FCF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.extra-fields-core {
  margin-top: 4px;
}

.phone {
  display: flex;
  margin-top: 29px;
}

.phone-code {
  max-width: 125px;
}

.phone input:last-child {
  max-width: 190px;
  margin-left: auto;
}

.p_phone_number {
  padding: 0;
  text-align: center;
}

/* ==== Кнопка під формою ==== */
.profile-actions {
  text-align: center;
}

.profile-actions .save {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 600;
  width: 606px;
  height: 49px;
  border-radius: 40px;
  border: none;
  background: #D6FF00;
  color: #116FCF;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.profile-actions .save:hover {
  background: #D6FF00 !important;
}

.profile-actions .save.disabled {
  background: rgba(255, 255, 255, 0.40) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: rgba(255, 255, 255);
  cursor: not-allowed;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
}

/* Стилі блоку, при успішному збереженні */
.success-message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 760px;
  width: 100%;
  max-height: 150px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 70px;
  padding: 40px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  border: 0 solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
}

.success-btn {
  max-width: 450px;
}

.success-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.success-subtitle {
  font-size: 17px;
  font-weight: 300;
}

/* Для браузерів на рушіях WebKit (Chrome, Safari, новий Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

/* ==== Позиціонування карток achievements та purchases ==== */
.achievements.card {
  grid-column: 1;
  grid-row: 5 / span 4;
  width: 341px;
  margin-left: 14px;
}

.purchases.card {
  grid-column: 2;
  grid-row: 5 / span 4;
  width: 328px;
  margin-left: 14px;
}

/* Стилі для прозорості полів (з даними та без) */
.profile-fields-input.has-value,
.extra-fields-input.has-value,
.about-input.has-value,
.custom-datepicker-display.has-value,
.custom-select.has-value,
.about input.has-value,
input.has-value {
  background: rgba(255, 255, 255, 0.50) !important;
  caret-color: #FFF !important;
}

/* Стилі для полів без значення (за замовчуванням) */
.profile-fields-input,
.extra-fields-input,
.about-input,
.custom-datepicker-display,
.custom-select,
.about input,
input {
  background: rgba(255, 255, 255, 0.40);
  caret-color: #116FCF;
}

/* ===== СТИЛІ ДЛЯ CUSTOMSELECT В КОНТЕКСТІ ПРОФІЛЮ ===== */

/* Загальні стилі для CustomSelect */
.custom-select {
  background: rgba(255, 255, 255, 0.40);
}

.custom-select.expanded {
  background: #D6FF00;
  border: 2px solid #D6FF00;
}

.custom-select.expanded .select-input {
  color: #116FCF;
}

.custom-select.expanded .select-input::placeholder {
  color: #116FCF;
}

.select-options-container {
  background: #D6FF00;
  border: 2px solid #D6FF00;
}

/* Специфічні стилі для окремих селектів */
#gender .select-options-container {
  left: -1.7px;
  right: -1.6px;
}
#gender .select-options {
  height: 60px;
}
#gender .select-arrow {
  left: 30px;
}

#country .select-options {
  height: 203px;
}

#city .select-options {
  height: 145px;
}

#street .select-options {
  height: 87px;
}

#phoneCode .select-arrow {
  margin-left: -10px;
  left: 13px;
}

#phoneCode .select-options {
  min-height: 260px;
  max-height: 260px;
}

#phoneCode .select-options-container {
  right: -1.6px;
}

/* Специфічні стилі для phoneCode (випадання вгору) */
#phoneCode.custom-select.expanded {
  border-radius: 0 0 40px 40px;
  border: 2px solid #D6FF00;
  border-top: none;
}

#phoneCode .select-options-container {
  position: absolute;
  bottom: 100% !important;
  top: auto !important;
  border-radius: 40px 40px 0 0;
  transform-origin: bottom center;
  animation: slideUp 0.3s ease;
  border: 2px solid #D6FF00;
  border-bottom: none;
  margin-bottom: -2px;
}

#phoneCode .select-options {
  top: 6px;
  right: 25px;
}

#phoneCode .select-option {
  padding: 10px 0 10px 65px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}