@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

.marketplace-section {
    position: relative;
    width: 100%;
    height: 140vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* overlay затемнение */
.marketplace-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

/* Контент с текстом */
.marketplace-content {
    position: relative;
    z-index: 1;
    margin-top: 8%;
    margin-left: 6%;
    max-width: 1400px; 
}

.marketplace-title {
    font-size: 46px;
    font-family: Kumbh Sans, sans-serif;
    color: #D9FF00;
    margin-bottom: 16px;
    line-height: 1.2;
}

.marketplace-subtitle {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.5;
    white-space: nowrap;
}

.marketplace-cta {
    position: relative;
    z-index: 1;
    align-self: center;
    margin-bottom: 150px;
    background: #D9FF00;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Мобільна версія для MarketplaceSection */
@media (max-width: 431px) {
    .marketplace-section {
        height: 60vh;
        background-size: cover;
        justify-content: center;
        gap: 30px;
    }

    .marketplace-content {
        margin: 0;
        padding: 0 20px;
        text-align: center;
    }

    .marketplace-title {
        font-size: 24px;
        white-space: normal;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .marketplace-subtitle {
        font-size: 16px;
        white-space: normal;
        line-height: 1.4;
    }

    .marketplace-cta {
        margin-bottom: 30px;
        font-size: 16px;
        padding: 10px 20px;
        width: 80%;
        max-width: 280px;
    }
}

@media (min-width: 350px) and (max-width: 390px) {
    .marketplace-section {
        height: 50vh;
    }

    .marketplace-title {
        font-size: 22px;
    }

    .marketplace-subtitle {
        font-size: 15px;
    }

    .marketplace-cta {
        font-size: 15px;
        padding: 8px 18px;
    }
}