:root {
  --font-family: 'Roboto', sans-serif;
  --white: #ffffff;
}

.breadcrumbs {
  margin: 0 0 20px 50px;
  color: var(--white);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--font-family);
  gap: 4px;
  position: relative;
  z-index: 9999;
}

.breadcrumbs a {
  text-decoration: none; /* прибираємо підкреслення */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: var(--white);
}

.breadcrumbs a.active {
  font-weight: 700;
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  
}

.breadcrumb-item svg {
  width: 12px;
  height: 12px;
  stroke: var(--white);

  fill: none;
  margin: 0 5px;
}
